* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #fff;
  --display-bg: #535353;
  --display-text: #ffffff;
  --key-bg: #7d7d7d;
  --key-border: #585858;
  --key-text: #ffffff;
  --top-row-bg: #646464;
  --operator-bg: #ff9f0a;
  --circle-red: #ff6347;
  --circle-yellow: #ffbc2e;
  --circle-green: #24cb42;
  --shadow-color: #000000be;
}

[data-theme='dark'] {
  --main-background-color: #333;
  --display-bg: #222222;
  --display-text: #c9c9c9;
  --key-bg: #373737;
  --key-border: #111111;
  --key-text: #c9c9c9;
  --top-row-bg: #2b2b2b;
  --operator-bg: #bc7100;
  --shadow-color: rgba(0, 0, 0, 0.9);
}

.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 30px 50px var(--shadow-color);
}

.display {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 20px;
  height: 100px;
  width: 100%;
  color: var(--display-text);
  background-color: var(--display-bg);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.previous {
  font-size: 2rem;
  line-height: 100%;
}

.current {
  font-size: 4rem;
  line-height: 100%;
  height: 4rem;
}

.circles {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.red {
  background-color: var(--circle-red);
}
.yellow {
  background-color: var(--circle-yellow);
}
.green {
  background-color: var(--circle-green);
}

.keyboard {
  display: grid;
  grid-template: repeat(5, 100px) / repeat(4, 1fr);
}

.keyboard button {
  background-color: var(--key-bg);
  border: 1px solid var(--key-border);
  color: var(--key-text);
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

.keyboard button:nth-child(-n + 4) {
  background-color: var(--top-row-bg);
}

.keyboard button:nth-child(4n),
.keyboard button:last-child {
  background-color: var(--operator-bg);
}

.two-span {
  grid-column: span 2;
  border-radius: 0 0 0 10px;
}

#equal {
  border-radius: 0 0 10px 0;
}

.theme-toggle {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  .display {
    padding: 10px 20px;
  }

  .calculator {
    width: 380px;
  }

  .keyboard {
    grid-template: repeat(5, 70px) / repeat(4, 1fr);
  }

  .theme-toggle {
    top: 20px;
    left: 40px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 8px;
  }

  .display {
    padding: 10px 20px;
  }

  .calculator {
    width: 280px;
  }

  .keyboard {
    grid-template: repeat(5, 50px) / repeat(4, 1fr);
  }

  .theme-toggle {
    top: 20px;
    left: 40px;
  }
}
